<% provide(:title, @user.name) %>
<%= render 'layouts/header' %>

<div class="user_profile">
  <div class="user_profile_image">
    <%= image_tag 'default_image.jpg', class: "user_profile_image_id", alt: "Default image" %>
  </div>
  <div class="user_profile_name">
   <%= @user.name %>
  </div>
  <div class="user_profile_email">
    <%= @user.email %>
  </div>
  <div class="user_profile_edit_btn">
    <a class="btn btn-info" href="/users/edit">プロフィール編集</a>
  </div>
</div>
