@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

.sign_up_wrapper, .login_wrapper {
  padding-top: 70px;
}

.form_wrapper {
  float: left;
  width: 320px;
  margin-left: 9%;
}

.form-group {
  margin-bottom: 15px;
}

.new_user_btn, .login_btn {
  width: 100%;
}

.new_user_title, .login_title, .edit_user_title {
  text-align: center;
  padding-bottom: 25px;
}

img {
  vertical-align: middle;
}

/* editページ */


.edit_wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

/* edit area */
.edit_wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

.edit_user_title {
  padding-top: 80px;
}

.edit_user {
  width: 67%;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 55px;
  background: #fafafa;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.edit_form_group {
  margin-bottom: 25px !important;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #333;
  text-decoration: none;
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.update_btn {
  width: 100%;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.user_destroy_btn {
  margin-top: 45px;
  margin-left: 65%;
}

// MessageBox
.message-box__list {
  position: absolute;
  top: 50px;
  left: 300px;
  right: 0;
  bottom: 67px;
  padding: 30px;
  overflow-y: scroll;
}

.message-box__item__contents {
  background: rgba(0,0,0,0.08);
  float: left;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.message-box__item--from-current .message-box__item__contents {
  float: right;
  background: #218CB9;
  color: #fff;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.clear:before, .clear:after {
  content: ' ';
  display: table;
}