// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 詳細ページ */
.user_profile {
  width: 30%;
  border: 1px solid #fff;
  background: #fafafa;
  margin-left: auto;
  margin-right: auto;
  padding: 65px;
  border-radius: 4px;
  margin-top: 100px;
  text-align: center;
}

.user_profile_image_id {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 60%;
}

.user_profile_name {
  padding-bottom: 10px;
}

.user_profile_edit_btn {
  margin-top: 30px;
}

.user_profile_name, .user_profile_email {
   font-size: 18px;
 }

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

// ユーザ検索機能

.search {
  text-align: center;
}

.chatapp-logo {
  margin-top: 115px;
}

.google {
  font-size: 80px;
  font-weight: 500;
}

.logo-c, .logo-t {
  color: #4285f4;
}

.logo-h, .logo-p {
  color: #ea4335;
}

.logo-a, .logo-p2 {
  color: #fbbc05;
}

.logo-A {
  color: #34a853;
}

.search_form {
  width: 35%;
  padding: 8px;
  margin-top: 20px;
  font-size: 16px;
}

.search_user_list {
  padding-top: 1px;
  font-size: 16px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

//友達検索機能

.user-list {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  border-right: 1px solid rgba(0,0,0,0.1);
  overflow: scroll;
}

//.user-list__item--active {
//  background: rgba(0,0,0,0.05);
//  color: #fff;
//  position: relative;
//  border-top: 1px solid rgba(0,0,0,0.1);
//  margin-top: -1px;
//}
//
//.user-list__item {
//  padding: 14px 10px 14px 15px;
//  border-bottom: 1px solid rgba(0,0,0,0.1);
//  cursor: pointer;
//}

.user-list__item__details {
  width: 220px;
  float: left;
  padding-left: 15px;
}